# Created by .ignore support plugin (hsz.mobi)
!/spring-alibaba.iml
!/.idea/vcs.xml
!/.idea/inspectionProfiles/
!/.idea/qaplug_profiles.xml
!/.idea/$PROJECT_FILE$
!/.idea/.gitignore
!/.idea/encodings.xml
!/.idea/spring-alibaba.iml
!/.idea/
!/.idea/misc.xml
!/.idea/compiler.xml
