<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%date{yyyy-MM-dd HH:mm:ss} | %highlight(%-5level) | %boldYellow(%thread) | %boldGreen(%logger) |
                %msg%n
            </pattern>
        </encoder>
    </appender>

    <!--控制台和日志文件输出级别-->
    <root level="INFO" additivity = "false">
        <appender-ref ref="STDOUT" />
<!--        <appender-ref ref="INFO" />-->
<!--        <appender-ref ref="ERROR" />-->
    </root>
</configuration>